# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [2]:
List1 = ['a','b','c']
Repetition = List1 *2
Repetition

['a', 'b', 'c', 'a', 'b', 'c']

#### 1.B. Concatenation (+):

In [3]:
List1 = ['a','b','c']
List2 = [1,2,3,4]
Concatenation = List1 + List2
Concatenation

['a', 'b', 'c', 1, 2, 3, 4]

#### 1.C. Membership:

In [4]:
List = ['a','b','c']
print('a' in List)

True

#### 1.D. Length:

In [5]:
List = ['a','b','c']
len(List)

3

#### 1.E. Iteration:

In [6]:
List = ['a','b','c']
for i in List: 
    print(List)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

### 2.1. Create your own lists to perform the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.C. max(list):

In [9]:
List1 = [1, 2, 4, 5, 54]
List2 = [23,54,789,9876,876,532,56]
List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]
print('Maximum is:', max(List1, List2, List3))

Maximum is: [23, 54, 789, 9876, 876, 532, 56]

#### 2.D. min():

In [10]:
List1 = [1, 2, 4, 5, 54]
List2 = [23,54,789,9876,876,532,56]
List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]
print('Minimum is:', min(List1, List2, List3))

Minimum is: [1, 2, 4, 5, 54]

#### 2.E.list:

In [21]:
List = [234567890]
list(List)

[234567890]

### 3. Create your own lists to perform the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [22]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.append('C')
List

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'C']

#### 3.B) list.clear():

In [23]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.clear()
List

[]

#### 3.C) List.copy()

In [24]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
new_list = List.copy()
List.append('C')
print('Old List: ', List)
print('New List: ', new_list)

Old List:  ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'C']
New List:  ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3. D) list.count(obj):

In [25]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.count('blue')

2

#### 3.E) list.extend(seq):

In [26]:
List1 = ['a', 'e', 'i', 'o', 'i', 'u','y','w','tre','ytre','uyt']
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List1.extend(List)
print('Language List: ', List1)

Language List:  ['a', 'e', 'i', 'o', 'i', 'u', 'y', 'w', 'tre', 'ytre', 'uyt', 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3.F) list.index(obj):

In [28]:
List = ['a', 'e', 'i', 'o', 'i', 'u','y','w','tre','ytre','uyt']
List.index('i')

2

#### 3.G) list.insert(index, obj):

In [33]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.insert(3, 'o')
print('Updated List: ', List)

Updated List:  ['white', 'red', 'blue', 'o', 'green', 'blue', 'yellow', 'black']

#### 3.H) list.pop(obj=list[-1]):

In [29]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
return_value = List.pop(3)
print('Return Value: ', return_value)
print('Updated List: ', List)

Return Value:  green
Updated List:  ['white', 'red', 'blue', 'blue', 'yellow', 'black']

#### 3.I) list.remove(obj):

In [30]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.remove('blue')
print('Updated list: ', List)

Updated list:  ['white', 'red', 'green', 'blue', 'yellow', 'black']

#### 3.j) list.reverse():

In [31]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.reverse()
List

['black', 'yellow', 'blue', 'green', 'blue', 'red', 'white']

#### 3.K) list.sort([func]):

In [ ]:
List = [876,5890,9876,6789,876,54,56,789,87,65,6789,8,765,4,567,89]
List.sort()
List

# Python Tuple

### Create your own Tuple to perform the below Python tuple Operations ?

##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [34]:
Tuple = ('white','red', 'blue', 'green','blue','yellow', 'black')
Repetition = Tuple *2
Repetition

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black')

#### 1.B. Concatenation (+):

In [35]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple2 = (1,4,1,3,4,5,65)
Concatenation = Tuple1 + Tuple2
Concatenation

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 1,
 4,
 1,
 3,
 4,
 5,
 65)

#### 1.C) Membership:

In [36]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
print(2 in Tuple)

False

#### 1.D) Length:

In [37]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
len(Tuple)

7

#### 1.E) Iteration:

In [38]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
for i in Tuple: 
    print(Tuple)

('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')

### 2.Create your own Tuple to perform the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [1]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
max(Tuple1)

8765

#### 2.D) min():

In [40]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
min(Tuple1)

4

#### 2.E) Tuple:

In [41]:
Tuple ='HJIUYTREW'
tuple(Tuple)

('H', 'J', 'I', 'U', 'Y', 'T', 'R', 'E', 'W')

# Python Set

In [ ]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [42]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print("Union :", Set1 | Set2)

Union : {1, 3, 4, 5, 6, 7, 8, 9, 6789, 9876, 678, 45, 436, 54, 56, 57, 8765, 65, 787654, 467, 88, 87654, 7654, 876, 887}

#### 1.B. Intersection

In [43]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print("Union :", Set1 & Set2)

Union : {4, 5, 6, 7, 8, 9, 876}

#### 1.C. Difference

In [44]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print("Union :", Set1 - Set2)

Union : {1, 3, 787654, 87654, 436, 9876, 54, 56}

####  1.D. Symmetric difference:

In [45]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print("Union :", Set1 ^ Set2)

Union : {65, 1, 3, 787654, 6789, 467, 9876, 88, 7654, 678, 87654, 45, 436, 54, 887, 56, 57, 8765}

# Python Dictionary

#### Create your own Dictionary to perform the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

#### 1.A) len(dict):

In [47]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
len (Dictionary)

3

#### 2.B) str(dict):

In [49]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
str (Dictionary)

"{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}"

#### 1.C) type(variable):

In [51]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
type(Dictionary)

dict

### 2.Create your own Dictionary to perform the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [52]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries.clear()
dictionaries

{}

#### 2.B) dict.copy():

In [53]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
new = dictionaries.copy()

print('Orignal: ', dictionaries)
print('New: ', new)

Orignal:  {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
New:  {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 2.C) dict.fromkeys():

In [54]:
keys = {'a', 'e', 'i', 'o', 'u' }
Dictionaries = dict.fromkeys(keys)
print(Dictionaries)

{'a': None, 'o': None, 'e': None, 'u': None, 'i': None}

#### 2.D) dict.get(key[, value]) :

In [55]:
dict = {'Name': 'oldStudent', 'Age': 77};
print('Name: ', Dictionaries.get('name'))
print('Age: ', Dictionaries.get('age'))
print('Salary: ', Dictionaries.get('salary'))
print('Salary: ', Dictionaries.get('salary', 0.0))

Name:  None
Age:  None
Salary:  None
Salary:  0.0

#### 2.E) dict.items()

In [56]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(dictionaries.items())

dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma')])

#### 2.F) dict.keys() :

In [57]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(dictionaries.keys())
empty_dict = {}
print(empty_dict.keys())

dict_keys(['a', 'o', 'g'])
dict_keys([])

#### 2.G) dict.setdefault():

In [58]:
Dictionaries = {'Name': 'oldStudent', 'Age': 77};
print(Dictionaries.keys())
age = Dictionaries.setdefault('age')
print('person = ',Dictionaries)
print('Age = ',age)

dict_keys(['Name', 'Age'])
person =  {'Name': 'oldStudent', 'Age': 77, 'age': None}
Age =  None

#### 2.H) dict.update():

In [59]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
Dict2 = {2: "two"}
dictionaries.update(dictionaries)
print(dictionaries)

Dict2 = {3: "three"}
# adds element with key 3
dictionaries.update(Dict2)
print(dictionaries)

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 3: 'three'}

 #### 2.L)  dict.values():

In [60]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(dictionaries.values())

dict_values(['alpha', 'omega', 'gamma'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [ ]:
a = 10
if ( a == 10 ) : 
    print("Hello")

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [6]:
a = 10
if ( a == 10 ) : 
    print("Hello")
else : 
    print("Good Bye")

Hello