### If Statement:

1. Write a python code to check if 120 is greater than 73 using if statement?

Hint:

Assign variable a = 73
Assign variable b = 120
If condition for b>a 
print'b is greater than a'

#### Write Python Code

In [0]:
a = 73
b = 120
if b > a:
    print("b is greater than a")

b is greater than a

### IF-ELSE Statement:

1. Write a python code which can take two numbers a = 123,b = 133 and print the biggest number
    condition 1 : b>a
    condition 2 : else
    print which is correct

Hint:

Assign variable a = 123
Assign variable b = 133
if condition b>a 
print b is greater than a
print b is less than a

#### Write Python Code

In [0]:
a = 123
b = 133
if b > a:
      print("b is greater than a")
else:
      print("b is less than a")

b is greater than a

### Nested-If Statement

1. Write a python code that takes an input from the user and shows if that number is positive or negative. Also, check if the number is two digit.

Hint:

Assign the num equal to 12
if condition num>0 the go to step 3, else go to step 4
print the number positive
print the number is negative
Another if condition is -99<=num then go to step 6
print two digit negative number

#### Write Python Code

In [0]:
num = -12
if num > 0:
    print("Positive Number")
else:
    print("Negative Number")
    #nested if
    if -99<=num:
        print("Two digit Negative Number")

Negative Number
Two digit Negative Number

## While Loop

1. Write a pseudocode to give the below output
    Input:10
    Output:0,1,4,9,16,25,36,49,64,81

Hint:

Take variable 'a' = 0
while condition 'a' less 
    print condition is a**2
    create increment 'a' equal to a+1

#### Write Python Code

In [0]:
a = 0;
while  a < 10 :
    print (a**2)
    a = a + 1

0
1
4
9
16
25
36
49
64
81

## For Loop

1. Using a range of 1 to 100 numbers, find out the sum of all the numbers. 
    e.g: (1,100):1+2+3+4+5......+100 = 4950

Hint:

Assign the sum eqaul to 0
For condition in range (1,100) 
sum = sum+value
print the sum

#### Python Code

In [0]:
sum = 0
# iterating over natural numbers using range()
for value in range(1, 100):
    # calculating sum
    sum = sum + value
# displaying sum of first 5 natural numbers
print(sum)

4950

### More Practice Questions

1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [0]:
Emty_list=[]
for i in range(202, 321):
    if (i%7==0) and (i%5!=0):
        Emty_list.append(str(i))

print(','.join(Emty_list))

203,217,224,231,238,252,259,266,273,287,294,301,308

2. With a given integral number n, write a program to generate a dictionary that contains the elements (i, i*i) 
    input:9

    Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [0]:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i
d

10

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

3. Python Program to count the number of vowels in a string. Take the string input from the user.

In [0]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:a
Number of vowels are:
1

### List comprehension

1. Use list comprehension to sort a given list of strings
    Input: Great,learning,ML,world,python,Sql
    Output: Great,ML,Sql,learning,python,world

In [0]:
items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

Meena,Shruthi,Priya,Ann
Ann,Meena,Priya,Shruthi

2. list comprehension

    INPUT: 1,2,3,4,5,6

    Output should be: 1,3,5

In [0]:
values = input()
numbers = [x for x in values.split(",") if int(x)%2!=0]
print(",".join(numbers))

 1,2,3,4,5,6
 1,3,5