#### 1. Write a Python function to multiply all the numbers in a list.

In [0]:
def functin(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(functin((1,3,2,4,6,3,68,45,575,8, 2, 3, -1, 7)))

-255394944000

#### 2. Write a Python function to reverse a string 
##### i) use for loop
##### ii) use while loop

In [0]:
def reverse(string):
    rstr1 = ''
    index = len(string)
    while index > 0:
        rstr1 += string[ index - 1 ]
        index = index - 1
    return rstr1
print(reverse('ASDFGHJKUYTREWQ654321123456'))

654321123456QWERTYUKJHGFDSA

###### 3. Write a function to add and subtract two variables

In [0]:
def addsub (a,b):
    add = a + b
    sub = a-b
    print(add,sub)
    return add,sub
addsub(9,12)

21 -3

(21, -3)

###### 4. Write a function to check the number is divisible by 12

In [0]:
def div (x):
    if x%12 == 0:
        print("yes")
    else:
        print("No")
        return(x)

###### 5. Write a function to calculate the number of days and weeks

In [0]:
def calc(days):
    weeks = days//7
    remainder = days%7
    return "{} week(s) and {} day(s)".format(weeks, remainder)
calc(13)

'1 week(s) and 6 day(s)'

#### 6.Write a Python function to Find the 5!?

In [0]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
factorial(n = 5)

120

#### 7. Write a Python function to find the unique elements of the list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]

In [0]:
def uniquelist(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x
print(uniquelist([1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]))

[1, 2, 3, 4, 5, 34, 654, 7, 6]

#### Types of arguments


    1. Required arguments
    2. Keyword arguments
    3. Default arguments

####  1. Required arguments: 
#### Write a program to calculate Simple Interest which accepts three arguments and returns the simple interest accordingly

In [0]:
def simple_interest(p,t,r):  
    return (p*t*r)/100  
p = float(input("amount? "))  
r = float(input("interest? "))  
t = float(input("years? "))  
print("Simple Interest: ",simple_interest(p,r,t))

amount? 2
interest? 3
years? 4
Simple Interest:  0.24

#### 2.Keyword arguments:
#### Write a function which will be called with the name and message as the keyword arguments. Output will be "printing the message with 'name' and  'message'"

In [0]:
def Function(name,message):  
    print("printing the message with",name,"and ",message)  
Function(name = "vema",message="hello")

printing the message with vema and  hello

#### 3.Default Arguments:
#### Write a function which will be called with the name as keyword argument and age as the default arguments. Output will be "My name is 'name' and 'age is 27'"

In [0]:
def printme(name,age=27):  
    print("My name is",name,"and age is",age)  
printme(name = "vema")

My name is vema and age is 27

### lambda function

#### 1. Get a number from user,  find if it is even or odd number?

In [0]:
remainder = lambda num: num % 2

print(remainder(int(input())))

2
0

#### 2. Take a input from user and  square it

In [0]:
product = lambda x : x * x

print(product(int(input())))

4
16

#### 3. Write a lambda function using logical operators?

Hint:
Check x < 10
Output: False / True

In [0]:
func = lambda x: x < 10
print(func(22))
print(func(9))

False
True

#### 4. Take an integer input from the user,  add 5 to the number and print it back?

In [0]:
add5 = lambda x: x + 5
print(add5(int(input())))

2
7

### Map

#### 1. Add two lists using map ()
     lis1 = [12, 24, 36] 
     lis2 = [41, 54, 69] 
     
     Output:
     [53, 78, 105]

In [0]:
lis1 = [12, 24, 36] 
lis2 = [41, 54, 69] 
result = map(lambda x, y: x + y, lis1, lis2) 
print(list(result))

[53, 78, 105]

#### 2. Use Lambda and map functions on a List, to square each element in the list = [1, 2, 3, 4, 5, 6, 7]

In [0]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = list(map(lambda x: x ** 2, list1))
print(list2)

[1, 4, 9, 16, 25, 36, 49]

#### 3.In the given list [1, 2, 3, 4, 5, 6, 7], find the even and odd elements in the list, use the map()function

In [2]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = list(map(lambda x: x %2==0, list1))
print(list2)

[False, True, False, True, False, True, False]

#### 4. In the given list [11, 12, 13, 14, 435, 6, 27], perform the Floor division using 7 on each elements on the list

In [0]:
list1 = [11, 12, 13, 14, 435, 6, 27]
list2 = list(map(lambda x: x // 7, list1))
print(list2)

[1, 1, 1, 2, 62, 0, 3]

## Filter

#### 1.Using the given list lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543] filter the numbers in list which are not divisible by 2

In [0]:
lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543,34]
result = filter(lambda x: x%2!=0, lis1) 
print(list(result))

[3, 43, 455, 43, 543]

#### 2.For a given list1 = [1, 2, 3, 4, 5, 6] filter only the even numbers.

In [0]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = list(filter(lambda x: x%2 == 0, list1))
print(list2)

[2, 4, 6]

#### 3. For a given list = [2,3,5,3,6,3,7,4,6,7] filter only the even numbers using user defined function.

In [0]:

def even_fn(x):
    if x % 2 == 0:
        return True
        return False

print(list(filter(even_fn,[2,3,5,3,6,3,7,4,6,7])))

[2, 6, 4, 6]

#### 4. For a given list = [1, 12, 31, 4, 15, 6, 7] filter only the odd numbers using user defined function.

In [0]:
def even_fn(x):
    if x % 2 == 1:
        return True
        return False

print(list(filter(even_fn,[1, 12, 31, 4, 15, 6, 7])))

[1, 31, 15, 7]

 ## Reduce

#### 1.For list = [1, 2, 3, 4] multiply all the elements (use reduce function)

In [0]:
from functools import reduce
reduce((lambda x, y: x * y), [1, 2, 3, 4])

24

#### 2. For list = [ 11 , 13, 15, 16, 2,43 ]  sum all the elements (use reduce function)

In [0]:
list = [ 11 , 13, 15, 16, 2,43 ] 
  
# using reduce to compute sum of list 
print ("The sum of the list elements is : ",end="") 
print (reduce(lambda a,b : a+b,lis1))

The sum of the list elements is : 67901

#### 3. Find the maximum value in the list = [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [0]:
list  = [543,7,6,4567,7,78,6,6,78,765,678]
print ("The maximum element of the list is : ",end="") 
print (reduce(lambda a,b : a if a > b else b,list))

The maximum element of the list is : 4567

#### 4. Find the minimum value in the list= [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [0]:
list  = [543,7,6,4567,7,78,6,6,78,765,678,]
print ("The minmum element of the list is : ",end="") 
print (reduce(lambda a,b : a if a < b else b,list))

The minmum element of the list is : 6