### IF Statement

### Problems:

1. Write a program to check whether x is less than y

where, x = 20 and y = 30

Hint:
Assign x equal to 20
Assign y equal to 30
If condition x is less than y, then 
print x is less then y

In [0]:
x = 20
y = 30
if(x < y):
    print("x is less than y")

2. Write a program to check whether the total score (theory --> 100 + practical --> 100) is less than or equal to 200. 
If it goes beyond 200, print an error or a warning message.

Hint:

Set, 
Theory equal to 140
Practical equal to 145
If condition for theory + practical is greater than 200 
then, print invalid score

In [0]:
theory = 140
practical = 145
if(theory + practical > 200):
    print("Invalid score")

Invalid score

# If-else Statement

3. Write a python program to to check whether the student has passed the subject based on string input yes/no

Hint:

Get an user input 'yes' / 'no' pass this to variable named 'Subject'
Create a If condition, when the Subject value is 'yes' then print 'Cleared the test', Else print 'Failed the test'

In [0]:
Subject = input(" ").lower()

if Subject == "yes" :
    print("Cleared the test.")
else :
    print("Failed the test.")

 yes
Cleared the test.

4. Write a program to get the password from user, check whether the password is 'great'. 
Through a reply to the user accordingly.

Hint:

Get password from user, the input statement should be 'Enter the password: '
pass this to variable named 'Password'
If passwrod is 'great', print 'Password Accepted'
else print  'Wrong Password'

In [0]:
password = input('Enter the password: ').lower()

if password == 'great':
    print('Password Accepted')

else:
    print('The wrong password.')

Enter the password: great
Password Accepted

###  Nested if Statement

1. Based on the users age, divide them in to three groups 
Group 1 : Age <=18 , Minors who are not eligible to work
Group 2 : 18<Age<60 , ELigible to work
Group 3 : >=60, Too old to work as per govt. regulations. 

Write a program for the same

Hint:

Create variable Name age equal to input 
if condition for age is < 18 go to step 3 , else go to step 5 
print  Your Minor not Eligible to Work 
if condition for age >= 18 and age <= 60 go to step 5 , else go to step 6 
print Your Eligible to Work fill in your details and apply 
print Your too old to work as per the Government rules  Please Collect your pension

In [0]:
age = int(input())
if age < 18:
    print(" Your Minor not Eligible to Work ") 
else:
    if age >= 18 and age <= 60:
        print(" Your Eligible to Work fill in your details and apply ")
    else:
        print(" Your too old to work as per the Government rules  Please Collect your pension")

6543
 Your too old to work as per the Government rules  Please Collect your pension

# While Loop

1. Take an integer as input from the user and print all the numbers from 0 to that number in reverse order. 

Example : if the input is 3, the output should be
3
2
1

Hint:

Create variable n using input value
give the while loop condition i.e. n > 0
then decrement,  n = n-1
print n

In [0]:
n = int(input())
while n > 0:
    n -= 1
    print(n)

3
2
1
0

2.  Write a python code to find the squares of all the numbers based on an input. 

    Example : If the input is 10, the output should be
    1*1 ,2*2 ,3*3...... 10*10

Hint:

Create the variable i assigning to 1
Give the while loop condition for i <= 10 
print i ** 2
increment i
loop will execute until i is less than or equal to 10

In [0]:
i = 1
while i <= 10:
    print(i ** 2)
    i += 1

1
4
9
16
25
36
49
64
81
100

# For Loop

1. Write a pseudocode to print the multiplication table of a given number.

Example : if the user input is 3, the output should be like below :  
3 X 1 = 3
3 X 2 = 6
...
3 X 10 =30

Hint:

Get user input and store it in variable n.
Give the For loop condition in the range between (1,11)
In print statement give the condition (n,'x',i,'=' ,n*i)
This will print the multiplication tables of a given number.

In [0]:
n=int(input())
for i in range(1,11):
    print(n,"x",i,"=",n*i)

7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

2. Write a python code to print squares of all numbers present in the list = [1, 12, 24, 36, 11, 20,50]

Hint:

Create a list named 'numbers' [1, 22, 14, 64, 31, 120]
Create a variable name 'square' and assign 0 to it
For loop condition for i in the list
square equal to i * i  
Print square

In [0]:
numbers = [1, 22, 14, 64, 31, 120]

# variable to store the square of each num temporary
square = 0

# iterating over the given list
for value in numbers:
    # calculating square of each number
    square = value * value
    # displaying the squares
    print(square)

1
484
196
4096
961
14400

# Additional Practice Programs

1. Write a python program that takes a list  ['red','black','blue']  and prints each element in the list using whle loop

In [0]:
colors = ['red','black','blue']
i = 0
while i < len(colors):
    print(colors[i])
    i+=1

red
black
blue

2. Write a same program as above using a For loop?

In [0]:
colors = ['red','black','blue']
for i in range (len(colors)):
    print(colors[i])

red
black
blue

3. Write a Python Program to find the LCM of two numbers?

In [0]:
a=int(input())
b=int(input())
if(a>b):
    variable=a
else:
    variable=b
while(1):
    if(variable%a==0 and variable%b==0):
        print("LCM is:",variable)
        break
    variable=variable+1

43
654
LCM is: 28122

##### Explanation:

1.User must enter both the numbers and store it in separate variables.
2.An if statement is used to find out which of the numbers is smaller and store in a variable.
3.Then a while loop is used whose condition is always true (or 1) unless break is used.
4.Then an if statement within the loop is used to check whether the value in the variable is divisible by both the numbers.
5.If it is divisible, break statement breaks out of the loop.
6.If it is not divisible, the value in the variable is incremented.
7.The final LCM is printed.

4. Python Program to find the sum of series: 1 + 1/2 + 1/3 + ….. + 1/N.

In [5]:
n=int(input())
summation=0
for i in range(1,n+1):
    summation=summation+(1/i)
print("The sum of series is",round(summation,2))

3
The sum of series is 1.83

#### Explanation

    1.User must enter the number of terms to find the sum of.
    2.The summation variable is initialized to 0.
    3.The for loop is used to find the summation of the series and the number is incremented for each iteration.
    4.The numbers are added to the summation variable and this continues till the value of i reaches the number of terms.
    5.Then the summation of the series is printed.

# List Comprehensions

1. 

i. Write a Python program to get the squares of numbers present in the range of (1-10) 

* output squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [0]:
squares = []
for i in range(11):
    squares.append(i*i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

ii. For the same question get the desired output using List Comprehension

In [0]:
squares = [i*i for i in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Convert a list of integers to a list of strings, using List comprehension

In [0]:
my_list = [0,1,2,3,4,5]
[str(x) for x in my_list]

['0', '1', '2', '3', '4', '5']

3. Create tuples from two lists using List Comprehensions

Hint:
list1 =[0,1]
list2 =['zero','one']

Output:
[(0, 'zero'), (0, 'one'), (1, 'zero'), (1, 'one')]

In [0]:
list1 =[0,1]
list2 =['zero','one']
[(x,y) for x in list1 for y in list2]

[(0, 'zero'), (0, 'one'), (1, 'zero'), (1, 'one')]

4. Get Index of Each Element of List using enumerate in List Comprehension

In [0]:
list= ['a','b','c','d','e']
[(i,j) for (i,j) in enumerate(list)]

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]