# Python List:

### 1. Create your own lists otherwise use the List1 = ['hello','great','learning']  to operate the below Python list  Operations?
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [18]:
List1 = ['hello','great','learning']
Repetition = List1 *2
Repetition

['hello', 'great', 'learning', 'hello', 'great', 'learning']

#### 1.B. Concatenation (+):

In [2]:
List1 = ['hello','great','learning']
List2 = [1,2,3,4]
Concatenation = List1 + List2
Concatenation

['hello', 'great', 'learning', 1, 2, 3, 4]

#### 1.C. Membership:

In [3]:
List = ['hello','great','learning']
print('Hello' in List)

False

#### 1.D. Length:

In [4]:
List = ['hello','great','learning']
len(List)

3

#### 1.E. Iteration:

In [5]:
List =['hello','great','learning']
for i in List: 
    print(List)

['hello', 'great', 'learning']
['hello', 'great', 'learning']
['hello', 'great', 'learning']

### 2.1. Create your own lists to perform the below Python List Built-in functions?
##### otherwise use the
                    List1 = [15, 300, 2700, 821]
                    List2 = [12, 2]
                    List3 = [34, 567, 78]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.A)  max():

In [6]:
List1 = [15, 300, 2700, 821]
List2 = [12, 2]
List3 = [34, 567, 78]
print('Maximum is:', max(List1, List2, List3))

Maximum is: [34, 567, 78]

#### 2.B) min():

In [7]:
List1 = [15, 300, 2700, 821]
List2 = [12, 2]
List3 = [34, 567, 78]
print('Minimum is:', min(List1, List2, List3))

Minimum is: [12, 2]

#### 2.C) list:

In [17]:
List1 = 'qwertyJH'
list(List1)

['q', 'w', 'e', 'r', 't', 'y', 'J', 'H']

### 3. Create your own lists to perform the below Python List built-in methods

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [19]:
List = ['Python','Ml','Sql', 'Stats', 'R']
List.append('C')
List

['Python', 'Ml', 'Sql', 'Stats', 'R', 'C']

#### 3.B) list.clear():

In [20]:
List = ['Python','Ml','Sql', 'Stats', 'R']
List.clear()
List

[]

#### 3.C) List.copy()

In [22]:
List = ['Python','Ml','Sql', 'Stats', 'R']
new_list = List.copy()
List.append('C')
print('Old List: ', List)
print('New List: ', new_list)

Old List:  ['Python', 'Ml', 'Sql', 'Stats', 'R', 'C']
New List:  ['Python', 'Ml', 'Sql', 'Stats', 'R']

#### 3. D) list.count(obj):

In [23]:
List = ['a', 'e', 'i', 'o', 'i', 'u','y','w','tre','ytre','uyt']
List.count('i')

2

#### 3.E) list.extend(seq):

In [24]:
List1 = ['a', 'e', 'i', 'o', 'i', 'u','y','w','tre','ytre','uyt']
List2 =['Python','Ml','Sql', 'Stats', 'R']
List1.extend(List2)
print('Language List: ', List1)

Language List:  ['a', 'e', 'i', 'o', 'i', 'u', 'y', 'w', 'tre', 'ytre', 'uyt', 'Python', 'Ml', 'Sql', 'Stats', 'R']

#### 3.F) list.index(obj):

In [27]:
List = ['a', 'e', 'i', 'o', 'i', 'u','y','w','tre','ytre','uyt']
List.index('i')

2

#### 3.G) list.insert(index, obj):

In [25]:
List = ['Python','Ml','Sql', 'Stats', 'R']
List.insert(3, 'o')
print('Updated List: ', List)

Updated List:  ['Python', 'Ml', 'Sql', 'o', 'Stats', 'R']

#### 3.H) list.pop(obj=list[-1]):

In [28]:
List = ['a', 'e', 'i', 'o', 'i', 'u','y','w','tre','ytre','uyt']
return_value = List.pop(3)
print('Return Value: ', return_value)
print('Updated List: ', List)

Return Value:  o
Updated List:  ['a', 'e', 'i', 'i', 'u', 'y', 'w', 'tre', 'ytre', 'uyt']

#### 3.I) list.remove(obj):

In [29]:
List = ['Python','Ml','Sql', 'Stats', 'R']
List.remove('R')
print('Updated list: ', List)

Updated list:  ['Python', 'Ml', 'Sql', 'Stats']

#### 3.j) list.reverse():

In [30]:
List = ['Python','Ml','Sql', 'Stats', 'R']
List.reverse()
List

['R', 'Stats', 'Sql', 'Ml', 'Python']

#### 3.K) list.sort([func]):

In [31]:
List = [876,5890,9876,6789,876,54,56,789,87,65,6789,8,765,4,567,89]
List.sort()
List

[4, 8, 54, 56, 65, 87, 89, 567, 765, 789, 876, 876, 5890, 6789, 6789, 9876]

# Python Tuple

### Create your own Tuple to perform the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('a','b','c','d')
                Tuple2 = ('e','f','g','h')

### 1. Tuple Operations 
  
  
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [81]:
Tuple = ('a','b','c','d')
Repetition = Tuple *2
Repetition

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

#### 1.B. Concatenation (+):

In [82]:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')
Concatenation = Tuple1 + Tuple2
Concatenation

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

#### 1.C) Membership:

In [83]:
Tuple = ('a','b','c','d')
print(2 in Tuple)

False

#### 1.D) Length:

In [84]:
Tuple = ('a','b','c','d')
len(Tuple)

4

#### 1.E) Iteration:

In [36]:
Tuple = ('a','b','c','d')
for i in Tuple: 
    print(Tuple)

('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd')

### 2.Create your own Tuple to perform the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [85]:
Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
max(Tuple1)

8765

#### 2.D) min():

In [86]:
Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
min(Tuple1)

1

#### 2.E) Tuple:

In [87]:
Tuple ='HJIUYTREW'
tuple(Tuple)

('H', 'J', 'I', 'U', 'Y', 'T', 'R', 'E', 'W')

# Python Set

#### Create your own Set to perform the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
        Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [88]:
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print("Union :", Set1 | Set2)

Union : {1, 2, 3, 4, 5, 6, 7, 8, 876, 77, 432, 54, 567}

#### 1.B. Intersection

In [89]:
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print("Union :", Set1 & Set2)

Union : {3, 4, 5, 6, 7}

#### 1.C. Difference

In [90]:
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print("Union :", Set1 - Set2)

Union : {1, 2, 8, 876, 77}

####  1.D. Symmetric difference:

In [91]:
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print("Union :", Set1 ^ Set2)

Union : {1, 2, 8, 876, 77, 432, 54, 567}

# Python Dictionary

#### Create your own Dictionary to perform the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                            dict = {'Name': 'Student', 'Age': 27};

    A.	len(dict)     
    B.	str(dict)      
    C.	type(variable)

#### 1.A) len(dict):

In [92]:
dict = {'Name': 'Student', 'Age': 27};
len (dict)

2

#### 2.B) str(dict):

In [93]:
dict = {'Name': 'Student', 'Age': 27};
str (dict)

"{'Name': 'Student', 'Age': 27}"

#### 1.C) type(variable):

In [53]:
dict = {'Name': 'Student', 'Age': 27};
type(dict)

dict

### 2.Create your own Dictionary to perform the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [94]:
dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
dictionaries.clear()
dictionaries

{}

#### 2.B) dict.copy():

In [95]:
dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
new = dictionaries.copy()

print('Orignal: ', dictionaries)
print('New: ', new)

Orignal:  {0: ' Data', 1: 'GREAT', 2: 'LEARNING', 3: 'Python', 4: 'Happy'}
New:  {0: ' Data', 1: 'GREAT', 2: 'LEARNING', 3: 'Python', 4: 'Happy'}

#### 2.C) dict.fromkeys():

In [96]:
keys = {'a', 'e', 'i', 'o', 'u' }
Dictionaries = dict.fromkeys(keys)
print(Dictionaries)

{'i': None, 'o': None, 'a': None, 'u': None, 'e': None}

#### 2.D) dict.get(key[, value]) :

In [97]:
dict = {'Name': 'Student', 'Age': 27};
print('Name: ', Dictionaries.get('name'))
print('Age: ', Dictionaries.get('age'))
print('Salary: ', Dictionaries.get('salary'))
print('Salary: ', Dictionaries.get('salary', 0.0))

Name:  None
Age:  None
Salary:  None
Salary:  0.0

#### 2.E) dict.items()

In [98]:
dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
print(dictionaries.items())

dict_items([(0, ' Data'), (1, 'GREAT'), (2, 'LEARNING'), (3, 'Python'), (4, 'Happy')])

#### 2.F) dict.keys() :

In [99]:
dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
print(dictionaries.keys())
empty_dict = {}
print(empty_dict.keys())

dict_keys([0, 1, 2, 3, 4])
dict_keys([])

#### 2.G) dict.setdefault():

In [100]:
Dictionaries = {'Name': 'Student', 'Age': 27};
print(Dictionaries.keys())
age = Dictionaries.setdefault('age')
print('person = ',Dictionaries)
print('Age = ',age)

dict_keys(['Name', 'Age'])
person =  {'Name': 'Student', 'Age': 27, 'age': None}
Age =  None

#### 2.H) dict.update():

In [101]:
dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
Dict2 = {2: "two"}
dictionaries.update(dictionaries)
print(dictionaries)

Dict2 = {3: "three"}
# adds element with key 3
dictionaries.update(Dict2)
print(dictionaries)

{0: ' Data', 1: 'GREAT', 2: 'LEARNING', 3: 'Python', 4: 'Happy'}
{0: ' Data', 1: 'GREAT', 2: 'LEARNING', 3: 'three', 4: 'Happy'}

 #### 2.L)  dict.values():

In [102]:
dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
print(dictionaries.values())

dict_values([' Data', 'GREAT', 'LEARNING', 'Python', 'Happy'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Write if statement 13 is greater than 25?

In [ ]:
if(13 < 25):
    print('13 is greater than 25')

##### 2.  Write a if else  statement to find if the number is divisible by 25?

In [72]:
i = int(input())
if i%25 == 0:
    print("Number is divisible by 11")
else:
    print("Not divisible by 11")

432
Not divisible by 11

#### 3.Using the three variables 'a = 154; b = 2451; c = 6054', 
Write a If...Elif...Else statement to find the greatest number

In [73]:
a = 154; b =  2451; c = 6054
if  (a > b) & (a>c) :
    print("A is the greatest!!!")
elif  (b > a) & (b > c) :
    print("B is the greatest!!")
else:
    print("C is the greatest")

C is the greatest